body{
    font-family: 'Times New Roman', Times, serif;
    background-image: url(https://convertingcolors.com/gradient-00ADB5.svg);
    background-position: repeat-y;
}
nav{
    background-color: #222831;
    margin: 10px;
}
nav ul li {
 position: relative;
 margin-top: 20px;
    
}
nav ul li a{
    margin-left: 20px;
    text-decoration: none;
    border: 2px solid #00ADB5;
    border-radius: 5px;
    padding: 1px 10px 1px 10px;
    text-align: center;
}
nav ul li a:hover{
    margin-left: 15px;
    text-decoration: none;
    font-weight: bolder;
    border: 2px solid #00ADB5;
    border-radius: 5px;
    padding: 1px 10px 1px 10px;
    text-align: center;
}
.section{
    display: flex;
}
.text{
    position: relative;
    width: 40%;
    text-align:justify;
    margin-top: 10px;
    margin-left: 15px;
    font-family: 'Times New Roman', Times, serif;
    white-space:wrap;
    color: #222831;
}
marquee{
    width: 100%;
    display: flex;
    justify-content: space-around;
   background-color: #EEEEEE;
   color: #222831;
   font-family: 'Times New Roman', Times, serif;
   font-weight: bolder;
   scroll-behavior:smooth scroll;
   margin-top: 60px;
   text-shadow: 0 0 3px #00ADB5, 0 0 5px  gray


}
.img{
    position: relative;
    padding-left: 15px;
    width:200px;
}
footer{
    background-color: #222831;
    color: #00ADB5;
}
.foot{
    display: flex;
    margin-left: 150px;
    padding-top: 20px;
}
